{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="form-wrap">
        <h3>Конвертор валют</h3>

        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form">
                    <input type="number" name="from-amount" placeholder="Сумма" class="form-control">
                    <select name="from-curr" class="form-control"></select>
                    <select name="to-curr" class="form-control"></select>
                </div>

                <div class="submit-btn">
                    <button>Рассчитать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}