<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="container">
    <h1>Инструкция по использованию генератора паролей</h1>
    <p>Для генерации пароля необходимо выбрать количество символов и нажать кнопку "Сгенерировать пароль".</p>
    <p>Также можно выбрать дополнительные параметры генерации пароля:</p>
    <ul>
        <li>Верхний регистр - если выбрано, в пароль будут включены заглавные буквы.</li>
        <li>Цифры - если выбрано, в пароль будут включены цифры.</li>
        <li>Спецсимволы - если выбрано, в пароль будут включены специальные символы (например, !@#$%^&*).</li>
    </ul>
    <p>После выбора параметров нажмите кнопку "Сгенерировать пароль", и сгенерированный пароль будет отображен на экране.</p>
    
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>